// font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
// resets
@import url(./resets.scss);

// components
@import url(./components/header.scss)



